
.head {
    height: 80px;
} 
.head-c {
    /* background-color: green; */
    margin: 0 auto;
    width: 1080px;
    height: 100%;
}
.logo {
float: left;
width: 186px;
height: 100%;
background: url(../img/logo.png) no-repeat center;
}
.head-c .nav {
    width: 618px;
    height: 100%;
    float: right;
}
.head-c .nav-item {
    position: relative;
    float: left;
    line-height: 80px;
    margin-right: 62px;
    /* background-color: pink; */
    font-size: 17px;
}
.head-c .nav-item a {
    color: #888787;
}
.head-c .nav-item:hover a {
    font-weight: bold;
    color: #0a0a0a;
}
.head-c .nav-item .line {
    display: none;
    position: absolute;
    right: 0;
    bottom: 23px;
    width: 22px;
    height: 2px;
    background-color: #888787;
}
.head-c .nav-item:hover .line {
    display: block;
}
.head-c .nav-item.mg0 .line {
    display: block;
}
.head-c .nav-item.mg0 a{
    color: black;
    font-weight: bold;
}
.p1 {
    font-size: 26px;
    color: #444444;
    text-align: center;
    margin: 100px auto 9px;
}
.p2 {
    line-height: 18px;
    font-size: 17px;
    color: grey;
    text-align: center;
}